body {
    font-family: 'Roboto Mono', monospace;
    background-color: #1e1e1e;
    color: white;
}

 /** Header **/

.header {
    padding: 1rem;
    position: sticky;
}
.header__nav {
    margin: 2 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__tilte {
    width: 15%;
    font-size: x-large;
    font-weight: bolder;
}

.header__nav--menu {
    display: flex;
    justify-content: space-around;
    width: 70%;
    
 

}
.header__nav--menu a {
    text-decoration: none;
    color:white

}

.header__button {
    width: 10%;
    background-color: #d8ca7c;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-weight:bold;
    transition: background-color ease-in 300ms;
    cursor: pointer;

}

.header__button:hover {
    background-color: beige;
}

/** Content **/

.container {
    width: 100vw;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.blocHorizontal {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.container {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    display: none;
}

.one {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
}
.two {
    background-color: #d8ca7c;
}
.three {
    background-color: #1e1e1e;
}
.four {
    background-color: #d8ca7c;
}

.hidden {
    visibility: hidden;
}

/** Contact form **/

.formContact {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    padding: 4rem ;
    position: fixed;    
    top: 25%;
}

.formContact__label {
    
}

#msg {
    margin: 0.4rem 0;
    /* resize: none; */
    

}

.formContact__input {
    margin: 0.4rem 0;
    height: 2rem;
    
    

}
.formContact__enfant {
    display: flex;
    flex-direction: column;

}

/** Slide 1  **/

.divParent1 {
    background-color: blue;
    display: flex;
    width: 100vw;
    height: 50vh;
}

.divParent1__information {
    background-color: red;
    width: 50%;
    height: 100%;
}

.divParent1__interest {
    background-color: yellow;
    width: 50%;
    height: 100%;
}

.divParent2 {
    background-color: white;
    display: flex;
    width: 100vw;
    height: 50vh;

}

.divParent1__language {
    background-color: yellow;
    width: 50%;
    height: 100%;
}

.divParent1__aboutMe {
    background-color: red;
    width: 50%;
    height: 100%;
}

.divParent1__skills {
    background-color: yellow;
    width: 50%;
    height: 100%;
}

/** Slide 1__information **/

.information__title {
    font-size: 2rem;
    padding: 2rem;
}

.information__text {
    font-size: 1rem;
    padding: 0 2rem;
}

.information__text p {
    padding: 0.5rem 0rem;
    
}

.information__text strong {
    font-weight: bold;
}

.information__progressBar {
    width: 30%;
    height: 30px;
    background-color: yellow;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.information__progressWrap{
    background-color: white;
    width: 30%;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.information__age {
    width: 90%;
    height: 30px;
    position: absolute;
    top: 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;    
    z-index: 3;
    color: black;

}

.information__link {
    font-size: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 30%;

}

.information__link a {
    color: white;
}